
body 
{
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}
/*
.container {
    width: 930px;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 5px 0;
    border: 3px solid darkcyan;
    border-radius: 5px;
}
*/
.main_text {
    font-size: 25px;
    transition: 0.2s;
}
.main_text:hover {
    font-size: 35px;
    box-shadow: 0 0 25px gray;
}

footer {
    font-size: 15px;
    color: gray;
    text-align: center;
    flex: 0 0 auto;
}

/*register and login form css strt*/
.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background:#fff ;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;

}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #000;
	font-family : "Times New Roman"
}
.login_btn {
    width: 100%;
    background: #33ccff!important;
    color: white !important;
}
.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
.login_container {
    padding: 0 2rem;
}
.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}
#messages{
    background-color: #fff;
    color: #c0c0c0;
    padding: 10px;
    margin-top: 10px;
}
/*register and login form css end*/

/*home page style*/
.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.wrapper{
	padding-top:1vh;
	margin: auto;
    width: 70vw;
}

.wrapper h2{
    text-align: center;
}

.content-wrapper{
    margin: 0 auto;
}

.card{
    margin-bottom: 2vh ;
}
.btn-warning{
	margin-left: 4vmin;
	margin-top: 4vmin;
	width: 100 wl;
}
h2{
	border-bottom: 2px solid #cccccc;
	margin:auto;
}
.nav-link{
	font-size: large;
}



.card-text{
    border-top: 1px solid #cccccc;
    margin-top:7px;
}

.card-title{
    margin-left:10px;
    margin-bottom:0px;
}

.card-body .badge{

padding:0;

}
.vryad{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.vryad h5{
     margin:0;
     
}
