.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.wrapper{
	padding-top:1vh;
	margin: auto;
	width: 70vw;
}
.card{
	margin-bottom: 2vh ;	
}

.card-body {
	padding:0;

}
.btn-warning{
	margin-left: 4vmin;
	margin-top: 4vmin;
	width: 100 wl;
}
h2{
	border-bottom: 2px solid #cccccc;
	padding: 2vh;
	margin:auto;
}
.nav-link{
	font-size: large;
}
#editor-container {
	height: 375px;
  }